/* target the active pill and make it grey */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #6c757d; /* bootstrap standard secondary color */
  color: white;
}

/* make the inactive links match secondary color */
.nav-pills .nav-link {
  color: #6c757d;
}
